@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400");
div.card-container {
  margin: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.card-container #card-1 {
  padding: 0;
  max-width: 24.5em;
  -webkit-box-shadow: 0 5px 15px #dddddd;
          box-shadow: 0 5px 15px #dddddd;
  border-radius: 10px;
}

div.card-container #card-1 .card-header {
  background-color: #FAC993;
  border-radius: 10px 10px 0 0;
  padding-top: 8.8em;
  height: 4rem;
}

div.card-container #card-1 .card-header .card-avatar {
  height: 8em;
  width: 8em;
  background-color: #DEDED6;
  border-radius: 50%;
  margin: auto;
}

div.card-container #card-1 .card-body {
  position: relative;
  z-index: -1 !important;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  background-color: white;
  text-align: center;
  color: #4E5F6F;
  height: auto;
  padding-top: 40px;
}

div.card-container #card-1 .card-body .profile {
  margin: 30px;
}

div.card-container #card-1 .card-body .profile h2 {
  margin-bottom: 0;
}

div.card-container #card-1 .card-body .profile p {
  margin-top: 5px;
  font-size: 15px;
}

div.card-container #card-1 .card-body ul {
  list-style: none;
  padding: 0;
}

div.card-container #card-1 .card-body ul li {
  display: inline;
  margin: 25px;
}

div.card-container #card-1 .card-body table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #d4d4d4;
  background-color: #F8F9F9;
  margin-top: 30px;
}

div.card-container #card-1 .card-body table tr td:first-child {
  border-right: 0.1px solid #d4d4d4;
}

div.card-container #card-1 .card-body table tr td p {
  font-weight: bold;
}

div.card-container #card-1 .card-body table tr td p span {
  font-weight: normal;
}

div.card-container #card-1 .card-body button {
  background-color: #64BC7F;
  border: 0;
  width: 100%;
  padding: 18px 0;
  font-weight: bold;
  color: #fff;
  font-size: 17px;
}

div.card-container #card-2 {
  font-family: 'Quicksand', sans-serif;
  height: 26rem;
  width: 37rem;
  background-color: #f3f1f1;
}

div.card-container #card-2 table.main {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}

div.card-container #card-2 table.main tr .info {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#81BFEA), to(#6A4DA2));
  background-image: linear-gradient(to bottom right, #81BFEA, #6A4DA2);
  width: 12.3em;
  padding: 0;
  color: #fff;
}

div.card-container #card-2 table.main tr .info .name h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 200;
}

div.card-container #card-2 table.main tr .info .career {
  font-size: 13px;
  margin-bottom: 30px;
  padding: 0 25px;
}

div.card-container #card-2 table.main tr .info .bio {
  font-size: 10.5px;
  padding: 0 25px;
  margin-bottom: 30px;
}

div.card-container #card-2 table.main tr .info table.social {
  width: 100%;
  margin-bottom: 45px;
  font-size: 10.5px;
}

div.card-container #card-2 table.main tr .info table.social tr td span {
  font-size: 8.5px;
  text-transform: uppercase;
}

div.card-container #card-2 table.main tr ul {
  width: 100%;
  padding: 0;
}

div.card-container #card-2 table.main tr ul li {
  display: inline-block;
  margin: 0 11px;
}

div.card-container #card-2 table.main tr .img {
  background-color: #EBEBEB;
}
/*# sourceMappingURL=style.css.map */